[submodule "external/whisper.cpp"]
	path = external/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
	# Pinned to v1.8.2 (released 2024-10-15)
	# Version controlled in Makefile: WHISPER_VERSION
[submodule "vendor/memvid"]
	path = vendor/memvid
	url = https://github.com/memvid/memvid.git
